{% extends "base.html" %}

{% block body %}

  <form action="" method="post" class="form-vertical">
    <h2>Create Message</h2>
    <span class="help-inline">{{error}}</span>
    {%csrf_token%}
    <div class="control-group">
      <input id="id_to" name="to" placeholder="receipients" type="text" value="{{form.to.value|default_if_none:''}}"/>
      <span class="help-inline">
      {% for e in form.to.errors %}
        {{e|escape}}
      {% endfor %}
      </span>
    </div>
    <div class="control-group">
      <input id="id_subject" name="subject" placeholder="subject" type="text" value="{{form.subject.value|default_if_none:''}}"/>
      <span class="help-inline">
      {% for e in form.subject.errors %}
        {{e|escape}}
      {% endfor %}
      </span>
    </div>
    <div class="control-group">
      <textarea cols="80" id="id_body" name="body" rows="10"></textarea>
      <span class="help-inline">
      {% for e in form.body.errors %}
        {{e|escape}}
      {% endfor %}
      </span>
    </div>
    <div class="control-group">
      <button class="btn btn-large btn-primary" type="submit">Send message</button>
    </div>
  </form>

{% endblock %}
