{% extends "base.html" %}

{% block body %}

  <table class="table">
    <thead>
      <tr>
        <th>
        Time Sent
        </th>
        <th>
        Sender
        </th>
        <th>
        To
        </th>
        <th>
        Subject
        </th>
      </tr>
    </thead>
    <tbody>
    {% for message in messages%}
      <tr {%if not message.read %}style="color:red;"{%endif%} onclick="window.location='{%url 'message_overview' message.pk%}'">
        <td>
        {{message.message.time_sent}}
        </td>
        <td>
        {{message.message.sender}}
        </td>
        <td>
        {% if message.message.recipient_group %}
          {{message.message.recipient_group}}
        {% else %}
          Only you
        {% endif %}
        </td>
        <td>
         {{message.message}}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>


  <p><a href="{% url 'message_create' %}">Create message</a> </p>

{% endblock %}
