{% extends "base.html" %}

{% load markup %}

{% block body %}
    <div class="row">
      Subject: {{message.message}}
    </div>
    <div class="row">
      Time Sent: {{message.message.time_sent}}
    </div>
    <div class="row">
      {{message.message.body|markdown:"safe"}}
    </div>

    <div class="row">
      <a href={%url 'message_inbox'%}>
      Back to inbox
      </a>
    </div>

    <div class="row">
      <a href={%url 'message_delete' message.pk %}>
      Delete this message...
      </a>
    </div>
{% endblock %}
