body {
  padding-top: 60px;
}

.viewed-image {
  width:150px;
  height:auto;
}

.main-image {
  width:400px;
  height:auto;
}
.ui-effects-transfer { border: 2px solid black; }

.jesus-image-rate {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
  font-size: 40px;
  padding-top: 15px
}

.jesus-image-rate > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.jesus-image-rate > span:hover,
.jesus-image-rate > span:hover ~ span {
  color: transparent;
}
.jesus-image-rate > span:hover:before,
.jesus-image-rate > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0;
   color: gold;
}
