{% extends "base.html" %}

{% block body %}

  {% if messages %}
  <div class="row">
    {% for message in messages%}
    <div>
      {{message}}
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p>You don't have any messages! Apparently no one likes you. Maybe you should reach out first. <a href="{% url 'messsage_send' %}">Send message</a> </p>
  {% endif %}

{% endblock %}
