{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}Message some people{% endblock %}
    </title>
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" media="screen">
    <link href="{{STATIC_URL}}css/base.css" rel="stylesheet" media="screen">
  </head> 


  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Messages</a> 
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              {%if user.is_authenticated%}
                <li><a href="{% url 'member_profile'%}">Welcome {{user}}!</a></li>
                <li><a href="{%url 'logout'%}">Logout</a></li>
              {% else %}
                <li><a href="{%url 'login'%}">Login</a></li>
                <li><a href="{%url 'register'%}">Register</a></li>
              {% endif %}
            </ul>
          </div>             
        </div> 
      </div> 
    </div> 
    <div class="container" style="margin-top:60px;">
    {% block body %}

    {% endblock %}

    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}js/messages.js"></script>
  </body>

</html>
