{% extends "base.html" %}

{% block body %}
  {% if user.is_authenticated %}
    <div>view <a href="{%url 'message_inbox'%}">inbox</a></div>
    <div>view <a href="{%url 'group_list'%}">group list</a></div>
  {% else %}
    <a href="{% url 'login' %}">Login</a>
  {% endif %}


{% endblock %}
