{% extends "base.html" %}

{% block body %}

  {% for group in groups %}
    <div class="row">
      {{group}}
      {% if group not in member.groups.all %}
      <a href="{%url 'group_join' group.pk %}">Join!</a>
      {% endif %}
    </div>
  {% endfor %}

{% endblock %}
